# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
CW/.vs/
*.exp
*.pdb
CW/Saved/
CW/Plugins/SNPlugin/Intermediate/
CW/Plugins/SNDebug/Intermediate/
CW/Intermediate/
CW/.idea/
CW/UpgradeLog.htm
CW/Plugins/BTPlugin/BTStd/Intermediate/
CW/Plugins/BTPlugin/BTPersonaView/Intermediate/
CW/Plugins/BTPlugin/BTCore/Intermediate/
CW/Plugins/CWDLC00/Intermediate/
CW/Tools/EOSSDK/Samples/.vs/
CW/Tools/EOSSDK/Samples/Achievements/Intermediate/
CW/Tools/EOSSDK/Samples/AntiCheat/Client/Intermediate/
CW/Tools/EOSSDK/Samples/AntiCheat/Server/Intermediate/
CW/Tools/EOSSDK/Samples/AuthAndFriends/Intermediate/
CW/Tools/EOSSDK/Samples/Leaderboard/Intermediate/
CW/Tools/EOSSDK/Samples/Lobbies/Intermediate/
CW/Tools/EOSSDK/Samples/Mods/Intermediate/
CW/Tools/EOSSDK/Samples/P2PNAT/Intermediate/
CW/Tools/EOSSDK/Samples/PlayerDataStorage/Intermediate/
CW/Tools/EOSSDK/Samples/SessionMatchmaking/Intermediate/
CW/Tools/EOSSDK/Samples/Store/
CW/Tools/EOSSDK/Samples/TitleStorage/Intermediate/
CW/Tools/EOSSDK/Samples/Voice/Client/Intermediate/
CW/Tools/EOSSDK/Samples/Voice/Server/Intermediate/
CW/Content/MSPresets/
CW/Content/Megascans/
